#console {
	position: absolute;
	width: 95%;
	height: 95%
	top: 0.5%;
	left: 2.5%;
	}

#entrybox {
	position: absolute;
	width: 95%;
	bottom: 3%;
	left: 2.5%;
	border: none;
	}

.good	{
	font-weight: bold;
	color: #00AA00;
	}

.bad	{
	font-weight: bold;
	color: #FF0000;
	}
.bold   {
    font-weight: bold;
    }
.debug  {
    font-size: 0.75em;
    }
.informational {
	color: #0000FF;
	}
